@font-face {
  font-family: "Montserrat-regular";
  src: url("../fonts/Montserrat/Montserrat-Regular.ttf");
}

@font-face {
  font-family: "Montserrat-extralight";
  src: url("../fonts/Montserrat/Montserrat-ExtraLight.ttf");
}
