@font-face {
  font-family: "Montserrat-medium";
  src: url("../fonts/Montserrat/Montserrat-Medium.ttf");
}

@font-face {
  font-family: "Montserrat-regular";
  src: url("../fonts/Montserrat/Montserrat-Regular.ttf");
}

@font-face {
  font-family: "Montserrat-extralight";
  src: url("../fonts/Montserrat/Montserrat-ExtraLight.ttf");
}

@font-face {
  font-family: "Montserrat-thin";
  src: url("../fonts/Montserrat/Montserrat-Thin.ttf");
}
